{% extends 'base.html' %}

{% block title %}Community - Alterar Senha{% endblock %}

{% block content %}

    <div class="mx-5 my-4">

        {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endfor %}
        {% endif %}

        <h2 class="h2">Alterar Senha</h2>

        <hr>
        
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <ul>
                <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                <li>Sua senha não pode ser inteiramente numérica.</li>
            </ul>

            <hr class="my-4">
            <button type="submit" class="btn btn-dark col-12">Alterar Senha</button>
        </form>

    </div>

{% endblock %}