{% extends 'base.html' %}

{% block title %}Community - Alterar Usuário{% endblock %}

{% block content %}

    <div class="mx-5 my-4">

        <h2 class="h2 d-flex justify-content-between">
            Alterar Usuário
            <a class="text-decoration-none" href="{% url 'users:change_password' %}">
                <button class="btn btn-primary">Alterar Senha</button>
            </a>
        </h2>

        <hr>

        {% if messages %}
            {% for message in messages %}
                {% if message.type == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ message.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-primary alert-dismissible fade show">
                        {{ message.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <hr class="my-4">
            <button type="submit" class="btn btn-dark col-12">Salvar Alterações</button>
        </form>

    </div>

{% endblock %}