{% extends 'base.html' %}

{% block title %}Community - Entrar{% endblock %}

{% block content %}
    <form action="" method="post" id="login-form" class="d-flex justify-content-center align-items-center content-center">
        {% csrf_token %}
        <div class="card text-white col-10 col-lg-6" id="login-card">
            <div class="card-header text-center h2">Entrar</div>
            <div class="card-body">
                <div class="my-3">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                {{ message.message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="my-3">
                    <label for="username" class="form-label">Usuário:</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="my-3">
                    <label for="password" class="form-label">Senha:</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-dark col-12 my-3">Entrar</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}